
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputBox {
  height: 42px;
}

.textEntered {
  border: 3px;
  border-color: black;
  height: 50px;
  width: 100px;
}



